<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name = "hibernate.connection.username">zeri</property>
        <property name = "hibernate.connection.password">zeri</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name = "hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.tuvarna.hotel.persistence.entities.UserEntity"/>
        <mapping class="com.tuvarna.hotel.persistence.entities.RoomEntity"/>
        <mapping class="com.tuvarna.hotel.persistence.entities.HotelEntity"/>
        <mapping class="com.tuvarna.hotel.persistence.entities.RoomEntity"/>
        <mapping class="com.tuvarna.hotel.persistence.entities.ServiceEntity"/>
        <mapping class="com.tuvarna.hotel.persistence.entities.ClientEntity"/>
        <mapping class="com.tuvarna.hotel.persistence.entities.ReservationEntity"/>

    </session-factory>
</hibernate-configuration>